<div id="menu" class="menu">  
  <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Timothy Voice <span>designer/developer</span></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"></li>
      </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="article-link"><a target="_blank" href="https://medium.com/@timsvoice">Writing</a></li>
        <li class="contact-link has-form"><a href="mailto:timsethvoice@gmail.com" class="contact">Contact</a></li>
      </ul>
    </section>
  </nav>
</div>